:root {
    --main-bg-color:  #377DD3;
    --main-hover-color:  #2262af;
  
}

*{
    font-family:'Montserrat', sans-serif ;
}
a{
    text-decoration: none;
}

 p{
     margin: 0;
 }
 /* loader */
 .loading{
    height: 80vh;
    transform: scale(1.5);
 }
 .spinner-border {
    color: var(--main-bg-color);
 }
  /* end loader */
 .logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .logo > i{
   color: var(--main-bg-color);
 }
 .navbar__container{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .Loader{
     text-align: center;
     font-size: 3rem;
 }

 /* ITEMS */
/*  .imgs__slider{

     height: 421px;
     object-fit: cover;
 } */
 .category__h1{
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 1px 10px #000,1px 1px 15px #000;
 }
 .container__items{
    min-height: 80vh;
 }
 .select__order{
    border: 1px solid #e0e0e0;
    margin-left: 5px;
    height: 25px;
 }

 .card{
     box-shadow: 0px 0px 3px #03030365;
 }
 .content{
    position:absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 75%;
    background-color: #03030365;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all .3s;
    font-size:1.2rem;
 }
 .content:hover{
     opacity: 1;
 }
 .bi-info-circle-fill{
     margin:5px;
     
 }  
  .card-body{
      height: 25%;
      border-top: 1px solid #ececec;
  }
  .ul__sub__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
 
 .container__sub__img{
    list-style: none;
    height:90px;
    width:90px;
    box-shadow: 0px 0px 1px #000;
 }
 .sub__img{
  object-fit: contain;
  height: 100%;
  width: 100%;
 }
.img__detail{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .item__price{
    width: 100%;
    display: flex;
    justify-content:flex-start ;
 }
 .item__price__p{
    font-weight: bold;
 }
 .item__name__p{
    color: #636363;
    font-weight:500px;
 }
 .item__brand__p{
    color: #c4c4c4;
    font-weight: bolder;
    font-size: .6rem;
    margin-top: -5px;
 }
 .contenedor__detail{

    background-color: #c4c4c4;
 }
 .name__detail{
     font-weight: bolder;

 }
.price__detail{
    font-weight: bolder;
    font-size: 1.2rem;
}
 /* ITEMS END */
 
/* items car */
.continue__shoping{
    background-color: transparent;
    border: 2px solid var(--main-bg-color);
    margin: 30px 0px;
}
.continue__shoping:hover{


     background-color: #000;
     border: 2px solid #000;
     color: #fff;
     
}
.all{
    margin-left: 20px ;
    width:150px;
}
.bi-trash3-fill {
    background-color: transparent;
    border:none;
}
.delete{
    background-color: transparent;
    border:none;
}
.delete:hover{
    color: red;
}


/* cart */
.btnAmount{
    border: none;
    background-color: var(--main-bg-color);
    font-size: 1.5rem;
    margin: 5px;
}
.btn__amount__car{
    width: 120px !important;
}
.order{
    width: 100%;
    min-height:200px;
    background-color: #ececec;
    border: 1px solid rgb(151, 151, 151);
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.orderContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.order__total{
    justify-content: space-between;
    padding: 8px;
}
.container__orderby{
    width: 100%;
}

/* form */
label{
    color: var(--main-bg-color);
    font-weight: bolder;
}
.errores__form{
    font-size: .9rem;
    color: #ff0000;
    position: absolute;
}

.btn__comprar{
    background-color: var(--main-bg-color);

}
.btn__comprar:hover{
   transform: scale(.98);
  
}
.total__form{
    font-weight: bolder;
}
.forms{

    /* width: 65%; */
    min-height: 70vh;
    background-color: #d1d1d1;
}
.form__container{
    min-height: 95vh;
}
.back__to__car{
  
    background-color: transparent;
    border: 2px solid var(--main-bg-color);
     margin: 30px 0px ;
}
.back__to__car:hover{
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
}
.checkout__order{
    background-color: transparent;
    border: 2px solid var(--main-bg-color);
    margin: 20px 0px ;
    color: #fff;
}
.checkout__order:hover{
   transform: scale(.97);
   border: 2px solid var(--main-hover-color);
}
.category{
    color: #ffff;
    font-weight: bolder;
    font-size: .8rem;

}
.madeby{
    color: #acaaaa;
    font-weight: bolder;
    font-size: .8rem;

}

.bi__footer{
    color: #000;
    font-size: 1.2rem;
}
.cart_container{
    min-height:80vh;
    /* background-color: #2262af; */

}
.container__order{
    min-height: 200px;
}

.container__itemDetail{
     min-height:80vh ;
}




/* media querys */
@media only screen and ( max-width: 700px) {
    .select__order{
       width: 100%;
       margin-left: 0px;
       background-color: #000;
       border: none;
       color: #fff;
       outline: none;
       
    }
    .imgs__slider{
        height: 200px;
        object-fit: cover;
    }
    .fieldset__container{
        width: 100%;
        background-color: #000;
        color: #fff;
        height: 80px;
        
     }
    .orderby{
        width: 100%;
    }
}