.nav-item{
    margin-right: 10px;
}

.bi-cart2{
    font-size: 1.5rem;
    color: var(--main-bg-color);
    border: none;
    background-color: transparent;
}
.notify{
    font-size: 12px;
    margin-top: 5px;

}
.navbar-brand{
    color: var(--main-bg-color);
}
.navbar-collapse{
    flex-grow: 0;
}
